@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    /* background: url(./assets/PXL_20210702_173817997.MP.jpg);
    background-repeat: no-repeat;
    background-size: 100% 50%; */
}

.title-underline {
    width: 52px;
    height: 3px;
    background-color: #497e76;
    margin: 0 auto;
}


/*----Navagation----*/ /*?Need to fix nav to the top*/
.navbar {
    font-weight: 700;
    letter-spacing: .1rem;
    background: rgba(121, 160, 103, 0.9);
    position: fixed;  /*?When i fixed this. It collapsed*/
} 

.nav-link{
    color:rgb(254, 237, 212);
    
}
 .navbar-brand {
     color: rgb(252, 252, 252);
 }

.navbar-light .nav .nav-link.active,
.navbar-light .nav .nav-link:hover{
 color: #497e76; /*?Nav button colors when hoovered*/
}

/* #navbar-example2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */


/**Landing page CSS */
.landingPageCaption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;   
}
.landingPageCaption h1 {
    font-size: 66px;
    text-shadow: .1rem .1rem .8rem black; /*?style Ethan Collignon here*/
    color:white
}
.landingPageCaption h3 {
    font-size: 44px;
    text-shadow: .1rem .1rem .8rem black; /*?style WebDev here*/
    color:white
}


/**About Me section*/
.aboutMeContainer {
    padding-top: 200px;
    padding-bottom: 200px;
}

.aboutMeContainer h1 {
    font-size: 50px;
}

.aboutMe {
    font-size: 28px;
}


/**Skills section*/
.skillsIconContainer {
    display: flex;
    justify-content: center;
    font-size: 42px;
}


/**Portfolio section  */
/* .img-thumbnail {
    width: 30%;
    height: auto;
    display: block;
} */

.portfolioContainer {
    padding-top: 100px;
    padding-bottom: 200px;
}

.portfolioContainer h1 {
    font-size: 50px;
}

.rowOne {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rowTwo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail1 {
    background-color: black;
    width: 400px;
    height: 300px;
    display: inline-block; 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 25px;
    border: 4px solid #497e76;
    border-radius: 5%;
    
}

.thumbnail2{
    background-color: black;
    width: 400px;
    height: 300px;
    display: inline-block; 
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid #497e76;
    border-radius: 5%;
}

.thumbnail3{
    background-color: black;
    width: 400px;
    height: 300px;
    display: inline-block;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 25px;
    border: 4px solid #497e76;
    border-radius: 5%;
}

.thumbnail4{
    background-color: black;
    width: 400px;
    height: 300px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 12px;
    border: 4px solid #497e76;
    border-radius: 5%;
}

.thumbnail5{
    background-color: black;
    width: 400px;
    height: 300px;
    display: inline-block; /* makes it fit in like an <img> */
    background-size: cover; /* or contain */
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 12px;
    border: 4px solid #497e76;
    border-radius: 5%;
}


/**Contact section*/
.contactForm {
    display: inline-block;
}

.jumbotron h1 {
    font-size: 50px;
}

#full-name :-moz-placeholder{
    text-align: center;
}


/**Footer section*/
/* .footerContainer { */
    /* padding-top: 300px; */
    /* padding-bottom: 300px;  */
/* } */

.copyright {
    font-size: 10px;
}
